# Magic commands:
# git restore --source HEAD~1 "PATH_IN_YOUR_REPO"

# Directories
Gene_Annotation_Jose_Tree_Method/
.ipynb_checkpoints/
__pycache__/
picrust2/
repo_data/*
legacy/*
**/nxr_genomes/
genes/
genes_local/
ideas/interactions_graph_local/
tests/test_results
tests/hmm_outputs
tests/test_data_dna
ms/
notes/
test_data/
jamboree/
dist/
# Files
trimal.html
src/accesory/run_papara.py
test.ipynb
test.py
NOTES.md
src/notify.py
data/final_ref_database.fasta
data/final_ref_database_unique_contigs.fasta
bacteroidota.sh
.coverage

# File types
*.sqlite
*.pyc
*.bionj
*.ckp.gz
*.log
*.mldist
*.model.gz
*.nex
*.iqtree
*.fxi
*.fxi-journal
