# Directories
Gene_Annotation_Jose_Tree_Method/
.ipynb_checkpoints/
__pycache__/
picrust2/
nxr_genomes/
data/databases/
genes/nxr/data/
genes/nxr/nxr_results
genes/nxr/nxr_results_old


# Files
trimal.html
code/accesory/run_papara.py
code/test.ipynb
code/test.py
NOTES.md
notify.py

# File types
*.sqlite
*.pyc
*.bionj
*.ckp.gz
*.log
*.mldist
*.model.gz
*.nex
*.iqtree
