# Magic commands:
# git restore --source HEAD~1 "PATH_IN_YOUR_REPO"

# Directories
Gene_Annotation_Jose_Tree_Method/
.ipynb_checkpoints/
__pycache__/
picrust2/
nxr_genomes/
data/databases/
genes/nxr/data/
genes/nxr/nxr_results
genes/nxr/nxr_results_old
tests/test_results


# Files
trimal.html
code/accesory/run_papara.py
code/test.ipynb
NOTES.md
code/notify.py
genes/nxr/commit_to_github.sh

# File types
*.sqlite
*.pyc
*.bionj
*.ckp.gz
*.log
*.mldist
*.model.gz
*.nex
*.iqtree
